*{
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #040322;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 25%;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 2px;
    background-color: #8854f7;
}

a{
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #08072c;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
}

#quemsomos{
    display: flex;
    gap: 0.3rem;
    margin-top: 1rem;
    padding: 0.2rem;
    background-color: #8854f7;
    border-radius: 8px;
}

.mainimg{
    width: 50%;
    margin-top: 1rem;
    padding: 0.2rem;
    border-radius: 16px;
    background-color: #8854f7;
}
p{
    padding: 8px;
    border-radius: 16px;
    text-align: center;
    max-width: 32rem;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper2{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
}

#oii{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2px;
    border-radius: 16px;
    gap: 4px;
}
#equipeimg{
    display: none;
    width: 50%;
    border-radius: 16px;
}
